# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# compiled output
.next/
out/
build/
dist/
dist-ssr
web-build/
storybook-static/

# tests
coverage/
cypress/screenshots
cypress/videos
.nyc_output

# Cache
.cache
.mf
.rollup.cache

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# env files
.env*
!.env*.example

# local DBs
*.db
*.sqlite
*.sqlite-journal

# local folders
.turbo/
.vercel/
.expo/
.astro/
.solid/
.docusaurus/

# typescript
*.tsbuildinfo
next-env.d.ts

# service workers
sw.js*
worker*.js*
workbox*.js*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# others IDEs and editors
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.DS_Store
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
Thumbs.db
