NODE_ENV="test"

# CORS allowed origin
WEB_ORIGIN_URL="http://localhost:3000"

# Prisma db for E2E tests
DATABASE_URL="postgres://<role>:<password>@<host>/<database>"
SHADOW_DATABASE_URL=""

# Clerk keys
CLERK_PUBLISHABLE_KEY="pk_test_************"
CLERK_SECRET_KEY="sk_test_************"
CLERK_E2E_JWT_TEMPLATE="" # see: https://clerk.com/docs/request-authentication/jwt-templates
